{% extends 'base.html.twig' %}

{% block body %}

	<div class="reg-body d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 mb-4">
            <div class="reg-card">
                <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                    <i class="checkmark reg-i">✓</i>
                </div>
                <h1 class="reg-h1 my-4">Registrering gennemført. Bekræft venligst din email!</h1>
                <p class="reg-p">En bekræftelsesemail er blevet sendt til den registrerede email. Tjek din spam-mappe, hvis emailen ikke er synlig i indbakken efter et kort øjeblik.</p>
            </div>
        </div>
	</div>

{% endblock %}
