{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
        <div class="col-12">
            <div class="d-flex flex-column w-50 mx-auto bg-primary p-4 mt-5 rounded">
                <h3 class="text-white">Registration Succesful - Please verify your email!</h3>
                <h5 class="text-white">A confirmatin email has been sent to the registered email. Check your spam folder if the email is not visible in the inbox after a short moment.</h5>
            </div>
        </div>
    </div>

{% endblock %}