{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h3 class="my-5 d-flex justify-content-center text-white">Edit your informations</h3>
        <Form Model="user" {# OnSubmit="InsertUser" #} FormName="CreateUser" class="d-flex align-items-center flex-column">
            {% if false %}
                <div class="alert alert-success mt-3" role="alert">
                    The user information has been successfully change.
                </div>

                <div class="alert alert-danger mt-3" role="alert">
                    The user information has not been successfully change.
                </div>
            {% endif %}
            <div class="mb-3 w-50">
                <label for="nameInput" class="form-label text-white">Name</label>
                <input class="form-control" placeholder="Current name"/>
            </div>
            <div class="mb-3 w-50">
                <label for="emailInput" class="form-label text-white">Email address</label>
                <input class="form-control" placeholder="Current email"/>
            </div>
            <div class="mb-3 w-50">
                <label for="passwordInput" class="form-label text-white">Password</label>
                <input type="password" class="form-control" placeholder="Current password"/>
            </div>
            <div class="mb-3 w-50">
                <label for="repeatPasswordInput" class="form-label text-white">Repeat Password</label>
                <input type="password" class="form-control" placeholder="Current repeat password"/>
            </div>
            <button type="submit" class="btn btn-primary">Register Account</button>
        </Form>
    </div>
</div>

{% endblock %}