{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h3 class="my-5 d-flex justify-content-center text-white">Login</h3>
        <Form Model="user" OnSubmit="AuthUser" FormName="CreateUser" class="d-flex align-items-center flex-column">
            {# Success message #}
            {% if false %}
                <div class="alert alert-success w-50" role="alert">
                    You have been successfully logged in. Redirecting to the home page...
                </div>
                {# Error message #}
                <div class="alert alert-danger w-50" role="alert">
                    You have not successfully logged in. Try again...
                </div>
            {% endif %}
            <div class="mb-3 w-50">
                <label class="form-label text-white">Email address</label>
                <input class="form-control"></input>
            </div>
            <div class="mb-3 w-50">
                <label class="form-label text-white">Password</label>
                <input class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Login</button>
            <a href="/register" class="btn btn-outline-light">Don't have an acount? Click here to create one</a>
        </Form>
    </div>
</div>

{% endblock %}