<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email bekræftelse</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            background-color: #ffffff;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #dddddd;
            max-width: 600px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding-bottom: 20px;
        }
        .content {
            font-size: 16px;
            line-height: 1.6;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #ffffff;
            background-color: #007BFF;
            text-decoration: none;
            border-radius: 5px;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #777777;
        }
    </style>
</head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Email bekræftelse</h2>
            </div>
            <div class="content">
                <p>Hej,</p>
                <p>Tak fordi du har tilmeldt dig hos oldefarsopskrifter. Bekræft venligst din emailadresse ved at klikke på knappen nedenfor:</p>
                <p style="text-align: center;">
                    <a href="{{ confirmation_link }}">
                        <button class="button">Bekræft Email</button>
                    </a>
                </p>
                <p>Hvis du ikke har tilmeldt dig denne konto, skal du blot ignorere denne email.</p>
            </div>
            <div class="footer">
                <p>Med venlig hilsen,</p>
                <p>Oldefars Opskrifter</p>
            </div>
        </div>
    </body>
</html>
