<div class="modal fade" id="deleteModal{{ recipe.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">You are about to delete a recipe</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the recipe:
        <br>
        <strong>{{ recipe.name }}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{{ path('delete', {'id': recipe.id} ) }}" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>