{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-9 d-flex flex-column mt-5 mb-5">
				<p class="text-green">
					<strong>Om oldefar</strong>
				</p>
				<h1 class="mt-2 mb-4">Historien om min oldefar og hvordan hjemmesiden kom til</h1>
			</div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
                <h3 class="">Hvem var min oldefar?</h3>
                <p class="fs-5">
                    Min oldefar, Allan Gustav Johan Jønsson, født den 11. marts 1918, søn af Gustav Johan Abert Jønsson og Sederine Olivia Elisabeth Møller.
                    Blev gift med min oldemor, Karen Sofie Trebbien Andersen den 19 Juni 1940, hvor de fik 5 børn sammen.

                </p>
            </div>
            <div class="col-lg-6 col-md-12 d-flex justify-content-center my-4">
                <img src="{{ asset('img/elderly-person-doing-sport.jpg') }}" class="img-fluid oldefar-img">
            </div>
        </div>
        <div class="row mb-4">
            <h3>Hvordan han lærte og lave mad</h3>
            <p class="fs-5">
                    Min oldefar gik på pension i begyndelsen af 1960'erne efter et langt arbejdsliv, hvor arbejdet havde været hans primære fokus. Hjemme havde min oldemor altid stået for madlavningen, hvilket betød, at han aldrig havde lært at lave mad. Han vidste knap nok, hvor længe et æg skulle koge.
                    Da han pludselig stod med mere tid mellem hænderne, indså han, at det var på tide at lære at lave mad. Han begyndte med det helt simple: at koge et æg. Det, der engang havde virket uoverkommeligt, blev hurtigt en lille sejr, og det gav ham mod til at kaste sig over mere komplekse retter.
                    Oldefar fandt de gamle kogebøger frem, som min oldemor havde gemt, og gik systematisk til værks. Men han nøjedes ikke med blot at følge opskrifterne. Hans nysgerrighed blev hurtigt vækket, og han begyndte at eksperimentere i køkkenet.
                </p>
        </div>
        <div class="row mb-4">
            <h3>Opskrifterne blev notere nøjeligt ned</h3>
            <p class="fs-5">
                Med tiden blev oldefar en dygtig kok. Hans simple retter udviklede sig til avancerede kreationer, og han fortsatte med at eksperimentere. I takt med at han skabte nye opskrifter, ønskede han at bevare dem for eftertiden. Han fandt sin gamle skrivemaskine frem, en robust maskine, der havde fulgt ham gennem årene. Hver opskrift blev omhyggeligt nedskrevet, komplet med ingredienser, fremgangsmåde og små noter om, hvad der havde virket godt, og hvilke justeringer han havde foretaget. Lyden af skrivemaskinens slag fyldte køkkenet, mens han langsomt og omhyggeligt dokumenterede sin rejse ind i en verden, han tidligere ikke havde kendt.
                Efter oldefars død stod hans notesbøger og skrivemaskinsdokumenter tilbage som en uvurderlig skat af kulinarisk arv. Oldebarnet, inspireret af denne arv, besluttede at digitalisere oldefars opskrifter og skabe en platform, hvor de kunne deles med verden. Visionen strakte sig dog længere end blot at bevare familieopskrifterne. Platformen blev designet som et sted, hvor mennesker fra hele verden kunne oprette profiler og dele deres egne opskrifter. Et fællesskab, hvor madelskere kunne inspirere hinanden og lære af hinanden, med oldefars opskrifter som en del af fundamentet.
            </p>
        </div>
        <div class="row mb-4">
            <h3>Passion for madlaving skabte idén om at digitalisere opskrifterne</h3>
            <p class="fs-5">
                I dag lever oldefars opskrifter videre online, tilgængelige for alle, der ønsker at prøve kræfter med hans retter. Men vigtigst af alt, de danner grundlaget for et fællesskab, hvor madtraditioner og passion deles – præcis som oldefar ville have ønsket det. Oldebarnets digitale projekt har sikret, at oldefars arv ikke blot er bevaret, men også inspirerer nye generationer af kokke og madentusiaster verden over.
            </p>
        </div>
    </div>

{% endblock %}