{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-9 d-flex flex-column mt-5 mb-5">
				<p class="text-green">
					<strong>Om oldefar</strong>
				</p>
				<h1 class="mt-2 mb-4">Historien om min oldefar og hvordan hjemmesiden kom til</h1>
			</div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
                <h3 class="">Hvem er min oldefar?</h3>
                <p class="">
                    Min oldefar gik på pension i begyndelsen af 1960'erne efter et langt arbejdsliv, hvor han havde dedikeret det meste af sin tid til sit job. Hjemme havde min oldemor altid stået for madlavningen, hvilket betød, at han aldrig havde lært at lave mad. Han vidste knap nok, hvor lang tid et æg skulle have.
                    Nu stod han over for en fremtid med mere tid mellem hænderne end nogensinde før, indså han, at det var tid at begynde og lære at lave mad.
                    Han begyndte med det helt enkle: at lære at koge et æg. Det, der tidligere havde virket som en umulig opgave, blev hurtigt en lille sejr, og det gav ham mod til at tage fat på mere komplicerede retter.
                    Han fandt de gamle kogebøger frem, som min oldemor havde gemt væk, og gik systematisk til værks. Men han var ikke tilfreds med blot at følge opskrifterne slavisk.
                    Oldefar udviklede hurtigt en nysgerrighed og trang til at eksperimentere i køkkenet.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 d-flex justify-content-center my-4">
                <img src="{{ asset('img/elderly-person-doing-sport.jpg') }}" class="img-fluid oldefar-img">
            </div>
        </div>
        <div class="row mb-4">
            <h3>Opskrifterne blev notere ned gennem tiden</h3>
            <p>
                Med tiden blev oldefar en dygtig kok, og hans enkle retter udviklede sig til avancerede kreationer. Han begyndte at eksperimentere mere og mere i køkkenet, og hans nysgerrighed voksede. 
                Men i takt med at han skabte nye opskrifter, indså han, at han ønskede at bevare dem for eftertiden.
                Han fandt sin gamle skrivemaskine frem, en robust maskine, som havde fulgt ham gennem mange år. 
                Hver opskrift blev omhyggeligt skrevet ned, ikke kun med ingredienser og fremgangsmåde, men også med små noter om, hvad der havde fungeret godt, og hvilke tilpasninger han havde foretaget. 
                Han tastede langsomt og omhyggeligt, mens lyden af maskinens slag fyldte køkkenet.
                Disse opskrifter blev ikke blot en samling af hans arbejde i køkkenet, men en dokumentation af hans rejse ind i en verden, han tidligere ikke havde kendt. 
                Hver side, han skrev, blev en del af hans arv, noget der kunne gives videre til næste generation. På den måde sikrede han, at hans erfaringer og opdagelser ville leve videre, længe efter han selv var væk.
            </p>
        </div>
        <div class="row mb-4">
            <h3>Passion for madlaving skabte idén om at digitalisere opskrifterne</h3>
            <p>
                Efter oldefars død stod hans gamle notesbøger og skrivemaskinsdokumenter som en skat af kulinarisk arv. Hans opskrifter, omhyggeligt nedfældet gennem årene, var en uvurderlig del af familiens historie. 
                Det var her, at oldebarnet fik en idé – en idé, der kunne sikre, at oldefars passion og ekspertise i køkkenet ikke blot blev bevaret, men også delt med verden.
                Oldebarnet besluttede at digitalisere oldefars opskrifter og skabe en platform, hvor de kunne nå ud til et bredere publikum. Men visionen gik længere end blot at bevare familieopskrifterne. 
                Platformen blev designet, så enhver kunne oprette en bruger og dele deres egne opskrifter. Det skulle være et sted, hvor mennesker fra hele verden kunne inspirere hinanden, lære af hinanden og få adgang til oldefars omhyggeligt nedskrevne kulinariske skatte.
                I dag lever oldefars opskrifter videre online, tilgængelige for alle, der ønsker at prøve kræfter med hans retter. Men vigtigst af alt, de danner grundlaget for en fællesskab, hvor madelskere kan dele deres passion og traditioner, præcis som oldefar ville have ønsket det. 
                Oldebarnets digitale projekt sikrede, at oldefars arv ikke blot blev bevaret, men blev en kilde til inspiration for nye generationer af kokke og madentusiaster verden over.
            </p>
        </div>
    </div>

{% endblock %}