{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<h3 class="my-5 d-flex justify-content-center text-white">Random Quote</h3>
		<div class="col-lg-3 col-md-2 col-sm-1"></div>
		<div class="col-lg-6 col-md-8 col-sm-10 mb-4">
			<form id="searchForm" action="{{ path('recipes') }}" method="get" class="d-flex flex-column align-items-center">
				<input type="text" id="searchInput" class="form-control mb-2" name="search" placeholder="Search for recipe" value="{{ searchTerm }}">
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-1 d-flex justify-content-end align-items-start"></div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="row">
				{% for recipe in recipes %}
					{% include 'modal/card.html.twig' with {'recipe': recipe } %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4">
		<div class="col-auto">
			{{ knp_pagination_render(recipes, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
		</div>
	</div>

	{# Recipe Modal View here #}
	{% for recipe in recipes %}
		{% include 'modal/showrecipe.html.twig' with {'recipe': recipe } %}
	{% endfor %}

	<script>
		document.addEventListener('DOMContentLoaded', function () { // Submit form on Enter press in input field
			document.getElementById('searchInput').addEventListener('keypress', function (e) {
				if (e.key === 'Enter') {
					e.preventDefault(); // Prevent default form submission
					document.getElementById('searchForm').submit(); // Submit the form
				}
			});
		});
	</script>

{% endblock %}
