{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-lg-7 col-md-9 d-flex flex-column mt-5 mb-5">
			<p class="text-green"><strong>Vores opskrifter</strong></p>
			<h1 class="mt-2 mb-4">Har du lyst til noget lækkert?</h1>
			<p>Find dit næste måltid her, sammensæt din egen menu, eller del noget lækkert du lige har spist med os andre. Vi elsker god mad!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-2 col-sm-1"></div>
		<div class="col-lg-6 col-md-8 col-sm-10 mb-5">
			<form id="searchForm" action="{{ path('recipes') }}" method="get" class="d-flex flex-column align-items-center">
				<input type="text" id="searchInput" class="form-control mb-2" name="search" placeholder="Search for recipe" value="{{ searchTerm }}">
				<button type="submit" class="btn btn-oldefar-green">Søg</button>
			</form>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-1 d-flex justify-content-end align-items-start"></div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="row">
				{% for recipe in recipes %}
					{% include 'components/card.html.twig' with {'recipe': recipe } %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-4">
		<div class="col-auto">
			{{ knp_pagination_render(recipes, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
		</div>
	</div>
</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () { // Submit form on Enter press in input field
			document.getElementById('searchInput').addEventListener('keypress', function (e) {
				if (e.key === 'Enter') {
					e.preventDefault(); // Prevent default form submission
					document.getElementById('searchForm').submit(); // Submit the form
				}
			});
		});
	</script>

{% endblock %}
