@import 'bootstrap';

html {
    overflow-y: scroll;
}

:root {
    --green: #087443;
    --black: #000000;
}

.text-green {
    color: var(--green);
}

.bg-green {
    background-color: var(--green);
}

/****************************************
    Home page
****************************************/


.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-img {
    min-height: fit-content;
    max-height: 550px;
    height: 100%;
    width: 100%;
    max-width: 660px; /* Or any other maximum width */
    object-fit:cover; /* Optional, depending on your use case */
    
}

@media (max-width: 992px) {
    .btn-width {
        width: fit-content;
        min-width: 210px;
    }    
}

@media (max-width: 1200px) {
    .btn-width {
        width: fit-content;
        min-width: 210px;
    }  
}


@media (min-width: 992px) {
    .btn-container {
        flex-direction: column;
    }

    .btn-container .btn-center {
        margin-bottom: 10px;
    }
}

/****************************************
    Navbar
****************************************/
.hover-3 {
    --b: 2px;
    /* Increase the thickness of the line */
    --c: #087443;
    /* Change the color to white */

    color: #000000;
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.1s var(--_s, 0s) linear,
        background-size 0.1s calc(0.1s - var(--_s, 0s));
    text-decoration: none;
}

.hover-3:hover {
    --_p: 100%;
    --_s: 0.1s;
    color: #087443;
    /* Change text color on hover */
}

.keep-hover-3 {
    --_p: 100%;
    --_s: 0.1s;
    color: #087443;
    /* Change text color on hover */
}

.dropdown-menu {
    top: 80px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul li {
    padding: 10px;
}

.card-img-top {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}



/* Hide #navbar below 992px */
@media (max-width: 992px) {
    #navbar {
        display: none;
    }
}

/* Hide #searchBtn below 992px */
@media (min-width: 992px) {
    #searchForm .btn {
        display: none;
    }
}

/* Hide .btn when viewport is less than 992px */
@media (max-width: 992px) {
    .divBtn .btn {
        display: none;
    }
}

/* Hide #navbar-mobile from 992px onwards */
@media (min-width: 992px) {
    #navbar-mobile {
        display: none;
    }
}

/****************************************
    Textarea
****************************************/

.textarea-pre-wrap {
    white-space: pre-wrap;
}

/****************************************
    Register success page
****************************************/
.reg-body {
    text-align: center;
    padding: 40px 0;
}

.reg-h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.reg-p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

.reg-i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.reg-card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

/****************************************
    Footer
****************************************/

.footer-bg {
    background-color: #087443;
    color: #ffffff;
    padding: 40px 0;
}

.footer-bg a {
    color: #ffffff;
    margin-right: 20px;
    /* Space between links */
    font-size: large;
    text-decoration: none;
}

/* Hide #footer below 992px */
@media (max-width: 992px) {
    #footer {
        display: none;
    }
}

/* Hide #footer from 992px onwards */
@media (min-width: 992px) {
    #footer-mobile {
        display: none;
    }
}

/****************************************
    Card
****************************************/

#card-view h3,
p {
    margin-bottom: 0;
}

.icon-center {
    display: flex;
    align-items: center;
}

.icon-center img {
    margin-right: 5px;
}

/* Grow */
.grow {
	display: inline-block;
	transition-duration: 0.3s;
	transition-property: transform;

	&:hover {
		transform: scale(1.05);
	}
}


/****************************************
    Show recipe
****************************************/

.show-recipe-img {
    min-height: fit-content;
    max-height: 550px;
    height: 100%;
    width: 100%;
    max-width: 660px; /* Or any other maximum width */
    object-fit:cover; /* Optional, depending on your use case */
    
}

.show-recipe-content {
    padding: 50px;
    min-height: fit-content;
}

/* When under 768px add margin  */
@media (max-width: 768px) {
    .show-recipe-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}