@import 'bootstrap';

/****************************************
    Main layout
****************************************/

.bg-image {
    background-image: url("../../public/img/background.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.bg-center {
    background-color: #ffffff12;
}

#navbar-mobile-container {
    position: relative;
}

.dropdown-menu {
    display: none;
    top: 75px;
    /* Adjust based on your navbar height */
    background-color: white;
    /* Adjust as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional for a shadow effect */
    border-radius: 5px;
    /* Optional for rounded corners */
    z-index: 1000;
    /* Ensure it appears above other elements */
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.dropdown-menu .nav-item {
    margin: 10px 0;
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}



/****************************************
    Navbar
****************************************/
.hover-3 {
    --b: 2px;
    /* Increase the thickness of the line */
    --c: #b8b8b8;
    /* Change the color to white */

    color: #ffffff;
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
                linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.1s var(--_s, 0s) linear,
                background-size 0.1s calc(0.1s - var(--_s, 0s));
    text-decoration: none;
    /* Disable default underline */
}

.hover-3:hover {
    --_p: 100%;
    --_s: 0.1s;
    color: #b8b8b8;
    /* Change text color on hover */
}

.keep-hover-3 {
    --_p: 100%;
    --_s: 0.1s;
    color: #b8b8b8;
    /* Change text color on hover */
}

/* Hide #navbar below 992px */
@media (max-width: 992px) {
    #navbar {
        display: none;
    }
}

/* Hide #searchBtn below 992px */
@media (min-width: 992px) {
    #searchForm .btn {
        display: none;
    }
}

/* Hide .btn when viewport is less than 992px */
@media (max-width: 992px) {
    .divBtn .btn {
        display: none;
    }
}

/* Hide #navbar-mobile from 992px onwards */
@media (min-width: 992px) {
    #navbar-mobile {
        display: none;
    }
}

/****************************************
    Textarea
****************************************/

.textarea-pre-wrap {
    white-space: pre-wrap;
}