<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Oldefarsopskrifter{% endblock %}</title>
        <link rel="icon" href="/icons/menu_book.svg">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column min-vh-100">
            {#  Navbar #}
            <div>
                {% include 'components/new-navbar.html.twig' %}
            </div>
            <div class="container flex-grow-1">
                {% block body %}{% endblock %}
            </div>
            {# Footer #}
            <div>
                {% include 'components/new-footer.html.twig' %}
            </div>
        </div>
    </body>
</html>