<footer class="py-3 my-4" style="padding-left:15px;">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-white-50">Home</a></li>
        <li class="nav-item"><a href="/recipes" class="nav-link px-2 text-white-50">Recipes</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-white-50">Contact</a></li>
    </ul>
    <p class="text-center text-white-50">© 2024 Made by 
        <a class="text-white-50" href="https://www.linkedin.com/in/christoffer-trebbien-j%C3%B8nsson/">
            Christoffer Trebbien Jønsson
        </a>
    </p>
    <p class="text-center"> 
        <a class="text-white-50" href="https://www.freepik.com/free-photo/top-view-delicious-cinnamon-rolls-with-copy-space_9876600.htm#fromView=search&page=1&position=41&uuid=28577830-f47c-43ca-ac75-9dd85777fee3">
            Background image by Freepik
        </a>
    </p>
</footer>